* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #ff64ae;
    --blue-navi: #414880;
    --blue-navi-dark: #091156;
    --gray: #8b8b8b;
    --white: #fff;
    --black: #000;
}

ul {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
}

html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-image: url('/src/assets/bg-body.png'), url('/src/assets/bg-body2.png');
    background-repeat: no-repeat, no-repeat;
    background-size: 1213px 711px, 1266px 743px;
}

/* Header */
.header {
    margin: 41px 0 166px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
}

.header-main {
    display: flex;
    align-items: center;
    gap: 52px;
}

.header-logo {
    width: 258px;
    height: 63px;
}

.header-logo img {
    width: 100%;
    height: 100%;
}

.menu {
    display: none;
    align-items: center;
    gap: 45px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50px;
    background-color: var(--primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.6px;
}

.btn-header {
    padding: 14px 41px;
    display: none;
}

.menu-link {
    color: var(--gray);
}
.menu-link:hover {
    color: var(--blue-navi);
    transition: color 3s all;
}

.menu-link-active {
    color: var(--blue-navi);
    font-weight: 500;
}

.btn-menu-mobile {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: var(--white);
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-menu-mobile:hover {
    background-color: var(--primary);
    color: var(--white);
}

.header-logo-bars {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-mobile.show {
    visibility: visible;
    opacity: 1;
    position: fixed;
    min-width: 280px;
    will-change: transform;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(0);
    background-color: var(--white);
    transition: opacity 0.3s ease, visibility 0.3s ease;
    transition: all 0.4s ease;
    box-shadow: 0.1rem 0 0.6rem 0 rgba(51, 51, 51, 0.5);
}

.menu-mobile {
    z-index: 1001;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-280px);
}

/* Main */

/* Slider */
.slider-content {
    margin-left: 39px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 53px;
}

.slider-content .text-heading {
    font-size: 48px;
    text-align: center;
}

.text-heading {
    color: var(--blue-navi-dark);
    font-weight: 600;
    line-height: 125%;
    font-style: normal;
}

.text-desc-heading {
    color: var(--blue-navi-dark);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.6px;
    margin-bottom: 28px;
    margin-top: 12px;
    text-align: center;
    justify-content: center;
}

.btn-slider {
    width: 200px;
    padding: 16px 40px;
}

.slider-image {
    margin-top: 40px;
    width: 100%;
    height: 358px;
}

.slider-image img {
    min-width: 350px;
    height: 100%;
    width: 100%;
}

.slide-btn {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 131px;
}

.services {
    position: relative;
}
.services-bg {
    position: absolute;
    right: 0;
    top: 70%;
    z-index: -10;
}

.bg-service-item {
    position: absolute;
    right: 0;
}

.contact {
    position: relative;
    margin-bottom: 70px;
    min-width: 100%;
}

.contact .container .row {
    align-items: center;
}

.contact-image img {
    width: 100%;
}

.contact-bg {
    position: absolute;
    top: -170px;
    left: 0;
    z-index: -10;
}

.contact-bg img {
    width: 100%;
}

.contact-bg-item {
    position: absolute;
    left: 0;
    top: 30px;
}

.services-heading {
    text-align: center;
}

.text-primary-title {
    color: #ff64ae;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
}

.services-heading p {
    color: #091156;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin: 12px 0;
}

.services-desc {
    max-width: 848px;
    color: #8b8b8b;
    margin: 0 auto 82px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
}

.services-item {
    border-radius: 42px;
    background: #fff;
    box-shadow: 0px 25px 50px 25px #f6f7ff;
    max-width: 100%;
    height: 458px;
    flex-shrink: 0;
}

.service-img {
    display: flex;
    justify-content: center;
    margin: 59px 0;
}

.services-item-content span {
    display: flex;
    justify-content: center;
    color: var(--blue-navi-dark);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 12px;
}

.services-item-content p {
    display: flex;
    justify-content: center;
    padding: 0 34px;
    text-align: center;
    color: var(--gray);
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
    font-size: 14px;
}

/* About */
.about {
    margin-top: 135px;
}

#btnScrollToTop {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 65px;
    z-index: 99;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--primary);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
    width: 36px;
    height: 36px;
    transition: all 0.5s;
}

#btnScrollToTop:hover {
    background-color: #d15d95;
}

/* About */
.about .text-desc-about {
    color: #091156;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin: 12px 0;
}

.about-image img {
    transform: translateY(0);
    width: 100%;
}

.about-group-btn {
    display: flex;
    align-items: center;
    gap: 44px;
    margin-top: 49px;
    justify-content: center;
}

.btn-about {
    padding: 16.36px 40px 15.06px 41px;
}

.text-desc-about-sub {
    color: #8b8b8b;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    max-width: 483px;
    margin: auto;
}

.btn-watch {
    display: flex;
    align-items: center;
    gap: 13px;
    border: none;
    background-color: transparent;
    color: #8b8b8b;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.6px;
}

.about-content {
    text-align: center;
}

.professional {
    margin: 80px 0 144px;
}

.text-title-professional {
    color: var(--blue-navi-dark);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.professional-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    text-align: center;
    margin-bottom: 87px;
}

.text-name {
    color: var(--blue-navi-dark);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin: 12px 0;
}
.professional-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 424px;
    width: 100%;
    height: 626px;
    padding: 0 77px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.img-professional {
    margin: 91px 0 53px;
}

.professional-content {
    display: block;
}

.professional-main:hover {
    background: #fff;
    box-shadow: 0px 25px 50px 25px #f6f7ff;
    background: #fff;
    border-radius: 42px;
}

.item-desc {
    color: var(--gray);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
}

.socials {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 34px;
}

.social-item {
    width: 49px;
    height: 49px;
    background-color: var(--white);
    box-shadow: -2px 6px 16px #e6e9fd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Contact */
.form-group {
    display: flex;
    gap: 36px;
}

.professional-content .row {
    justify-content: center;
}

.form-control {
    display: block;
    width: 100%;
    margin-bottom: 39px;
    background-color: var(--white);
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1.6px;
    border-radius: 15px;
    border: 1px solid #d9ddfe;
    outline-color: var(--primary);
    transition: all 0.5s;
    padding: 17px 24px;
    color: var(--gray);
    caret-color: var(--primary);
}

.form-control::placeholder {
    color: #c5c5c5;
}

.text-contact-title {
    color: var(--blue-navi-dark);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin: 12px 0;
}

.text-desc-contact {
    color: var(--gray);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    margin-bottom: 44px;
}

.btn-contact {
    padding: 16px 38px;
    max-width: 248px;
}

/* Footer */

.footer-item-middle {
    text-align: left;
    max-width: 129px;
}

.footer-item-main {
    /* min-width: 461px; */
    width: 100%;
    text-align: center;
}

.footer-item-right {
    max-width: 215px;
    width: 100%;
}

.footer-link-right-first {
    width: 215px;
}

.footer-item-right ul {
    width: 100%;
}

.footer-top-content .row {
    justify-content: space-between;
    gap: 24px;
}

.text-desc-left {
    color: #d7dbff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    padding: 33px 0 26px;
    margin: 0;
}

.text-desc-left b {
    color: #d7dbff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.6px;
}

.footer-address {
    color: #d7dbff;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.4px;
}

.footer-contact {
    display: flex;
    justify-content: center;
    gap: 28px;
    align-items: center;
}

.footer-contact span {
    color: #d7dbff;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.4px;
}

.footer-main {
    padding-top: 225px;
    padding-bottom: 140px;
}

.footer {
    background-repeat: no-repeat;
    background-image: url('/src/assets/FooterBG1.svg');
    background-size: cover;
}

.text-copyright {
    color: #d7dbff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    text-align: right;
}

.footer-bottom-content .row {
    justify-content: space-between;
    margin-top: 140px;
}

.footer-socials {
    display: flex;
    align-items: center;
    gap: 45px;
}
.footer-socials img {
    width: 25px;
    height: 27px;
}

.footer-title-menu {
    color: var(--white);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.8px;
    margin-bottom: 24px;
}

.footer-link {
    color: #d7dbff;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.footer-link-right {
    justify-content: start;
}

.footer-bottom-content .row {
    justify-content: space-between;
    gap: 20px;
}

.text-copyright {
    text-align: center;
}

.footer-socials {
    justify-content: center;
}

.footer {
    position: relative;
    overflow: hidden;
}

.bg-ft {
    position: absolute;
    bottom: 0;
    z-index: -10;
    width: 100%;
    height: 500px;
    background-color: #0d165c;
}

.bg-ft-top {
    position: absolute;
    z-index: -10;
    /* top: 0; */
    width: 100%;
}

/* Mobile menu */
.menu-mobile {
    padding: 0 12px;
    position: relative;
}

.mobile-menu-link-logo {
    display: inline-block;
    color: var(--blue-navi-dark);
    width: 100%;
    padding: 12px 0;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    margin: 12px 0;
}

.mobile-menu-link {
    display: inline-block;
    color: var(--blue-navi-dark);
    width: 100%;
    padding: 8px 0;
    font-size: 16px;
    text-align: center;
    transition: all 0.1s ease-in;
    border-radius: 4px;
}

.mobile-menu-link:hover {
    background-color: var(--primary);
    color: var(--white);
}

.mobile-menu-close {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    color: var(--primary);
    border-radius: 4px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    background: var(--white);
    border: 1px solid var(--primary);
    transition: all 0.1s ease-in;
}

.mobile-menu-close:hover {
    background: var(--primary);
    color: var(--white);
}
